body {
    background-color: lightblue;
}

h1 {
    color: navy;
    margin-left: 20px;
}
.blink_me {
  animation: blinker 1s linear infinite;
}

@keyframes blinker {  
  50% { opacity: 0; }
}
.navy {
	color: navy;
}